.image-container {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card {
    overflow: hidden;
    border-radius: 10px;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(0.95);
}