.header {
    display: flex;
}

.footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #f8f9fa;
    z-index: 1000;
}

@media (max-width: 767px) {
    .header {
        display: none !important;
    }

    .footer {
        display: flex !important;
    }
}